* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  background-color: rgb(231, 231, 231);
}
.container {
  background-color: #fff;
  max-width: 950px;
  padding: 0 30px;
}
.stop {
  position: fixed;
}


#paper {
  background-color: #fff;
}
#header {
  display: flex;
  padding-top: 30px;
  font-size: 13px;
}

#header > nav {
  padding-left: 60px;
}
#header > nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}
#header > nav > ul > li {
  padding: 0 10px;
  display: inline;
  border-right: 1px solid black;
  /* flex: 1; */
}
#header > nav > ul > li:last-child {
  border-right: none;
}
#header > nav > ul > li a {
 color: #000;

}

#header nav ul li .hover {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  height: 0;

}
#header nav ul li:hover .hover {
  overflow: visible;
  height: auto;
}
/* .sp-nav {
  display: none;
} */

.hover ul {
  list-style: none;
    padding: 20px;
    width: 115%;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.hover li {
  padding: 5px 0;
}
.hover li:hover {
  background-color: rgb(255, 194, 81);
}

.button a {
  padding: 10px 15px;
  border: 1px solid black;
  color: #000;
}
.button a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.082);
}
.button a:last-child {
  padding: 10px 25px;
  border: 1px solid black;
}

#main {
  margin: 30px 0;
}
.top-img {
  position: relative;
}
.top-img img {
  margin: 20px 0;
}
.top-img img:last-child:hover {
  opacity: 0.6;
}

.cart-text {
  position: absolute;
  top: 175px;
  left: 140px;
}
.cart-text p:first-child {
  font-size: 20px;
}
.cart-text p:first-child span {
  font-size: 20px;
  padding: 0 5px;
  border: 1px solid black;
}
.cart-text p span{
  font-size: 35px;
}
.cart-text b {
  display: inline;
  color: red;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #fff;

}
.cart-text b span {
  font-size: 25px;
}
.cart {
  position: absolute;
  top: 14em;
  left: 21em;
  color: #fff;
  margin: 10px 0;
  padding: 20px 35px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
}
.cart:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient( rgb(0, 130, 0), rgb(0, 175, 0));
}

.excel {
  margin-top: 50px;
  display: grid;
  grid-template:
  "..... header header header header" 100px
  "aside main   main   main   main  " 100px
  "aside main   main   main   main  " 150px
  "aside main   main   main   main  "
  "aside main   main   main   main  "
  "aside main   main   main   main  "
  / 15% 20% 20% 20% 20%;
  grid-template-columns: 15% 1fr ;
}
.excel header {
  grid-area: header;
  display: flex;
  color: #fff;
}
  .excel header div {
    flex: 1;
    text-align: center;
    background-color: orange;
  }
  .excel header div:first-child {
    border-right: 1px solid gold;
  }
  .excel header p:first-child {
    font-size: 20px;
    line-height: 22px;
  }
  .excel header p:last-child {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
  }
  .excel header .big {
    padding-top: 10px;
    position: relative;
    top: -20px;
    height: 120px;
    background-color: red;
  }
.excel aside {
  grid-area: aside;
}
  .excel aside p {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 15px;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid black;
  }
  .excel aside .small {
    font-size: 12px;
  }
.excel main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
}
  .excel main div {
    text-align: center;
    line-height: 100px;
    width: 25%;
    height: 100px;
    background-color: beige;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .excel  .third , .excel .fifth{
    height: 200px;
    line-height: 200px;
  }
  .excel .third-text , .excel .fifth-text {
    height: 200px;
    line-height: 35px;
    padding: 0 13px;
  }
  .excel .fifth-text {
    padding-top: 20px;
  }
    .third-text span, .fifth-text span {
      font-size: 35px;
      color: red;
    }
    .third-text p:nth-child(2) {
      margin-top: 20px;

    }
    .third-text p:nth-child(3) {
      text-align: right;
      font-weight: normal;
      font-size: 13px;
    }
    .excel .third-text a:first-child {
      font-size: 12px;
      color: black;
      text-decoration: underline;
    }
    .excel .third-text a:last-child, .excel .fifth-text a:nth-child(3) {
      color: #fff;
      margin: 10px 0;
      padding: 10px 15px;
      border-radius: 5px;
      text-align: center;
      background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
    }
    .excel .third-text a:last-child:hover {
      text-decoration: none;
      background: linear-gradient(  rgb(0, 130, 0), rgb(0, 175, 0));
    }

    .excel .forth {
      height: 120px;
      line-height: 120px;
    }
    .excel .forth-text {
      padding-top: 10px;
      height: 120px;
      line-height: 35px;
    }
    .excel .forth-text p:nth-child(2) {
      text-align: right;
      padding-right: 25px;
      font-size: 14px;
    }
    .excel .forth-text span {
      font-size: 25px;
    }
    .excel .forth-text a {
      font-size: 17px;
      color: rgb(0, 130, 0);
      text-decoration: underline;
    }

    .excel .fifth-point {
      height: 200px;
      line-height: 100px;
      padding: 0 13px;
    }
    .excel .fifth-point p:last-child {
     font-size: 14px;
    }
    .excel .fifth-text p:last-child span {
      font-size: 10px;
      color: black;
    }

    .excel2 {
      display: grid;
      grid-template:
      "header header header header header"
      "aside  main   main   main   main"
      "aside  main   main   main   main"
      "aside  main   main   main   main"
      "aside  main   main   main   main"
      "aside  main   main   main   main"
      / 15% 20% 20% 20% 20%;
      grid-template-columns: 15% 1fr ;
    }
      .excel2 header , .excel3 header {
        grid-area: header;
        padding: 10px 0 10px 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }

      .excel2 aside , .excel3 aside{
        grid-area: aside;
      }
        .excel2 aside div, .excel3 aside div {
          text-align: left;
          height: 100px;
          background-color: rgb(221, 221, 221);
          border-bottom: 1px solid black;
        }
        .excel2 aside div p , .excel3 aside div p{
          padding: 0 5px;
          padding-top: 25px;
          font-size: 13px;
         }

      .excel2 main, .excel3 main {
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
      }
      .excel2 main div, .excel3 main div {
        text-align: center;
        line-height: 100px;
        width: 25%;
        height: 100px;
        background-color: beige;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .excel3 {
      display: grid;
      grid-template:
      "header header header header header"
      "aside  main   main   main   main"
      "aside  main   main   main   main"
      /15% 20% 20% 20% 20%;
      grid-template-columns: 15% 1fr ;
    }

    .excel4 {
      display: none;
    }

    .red-point {
      border-left: 2px solid red;
      border-right: 3px solid red !important;
      background-color: rgb(255, 230, 184) !important;
    }

    .note span {
      color: red;
    }

    .category {
      margin-top: 50px;
    }
      .category .row div small {
        padding-left: 20px;
        line-height: 20px;
      }
      .category img {
        height: 170px;
      }
      .category .border {
        border: 1px solid orange!important;
      }
      .category h2 {
        background-color: orange;
        padding: 10px 5px;
        color: #fff;
        border-radius: 5px;
      }
      .category .row {
        margin: 50px 0 0;
      }
      .category .row div {
       width: 80%;
      }
      .category .row div p:first-child {
        font-size: 30px;
        padding-left: 20px;
      }
      .category .row div span {
        font-size: 45px;
      }
      .category .row div p:last-child {
        font-size: 20px;
        padding-left: 20px;
      }
      .category .row div .two {
        font-size: 20px;
        padding-left: 20px;
      }
      .category .row div b {
        font-weight: normal;
        color: red;
      }
      .category a {
        display: block;
        width: 70%;
        margin: 50px auto 0;
        color: #fff;
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
      }
      .category a:hover {
        text-decoration: none;
        background: linear-gradient( rgb(0, 130, 0), rgb(0, 175, 0));
      }
      .category2 {
        display: none;
      }


      .protect {
        margin-top: 70px;
        margin-bottom: 20px;
      }
      .protect h2 {
        background-color: rgb(44, 92, 252);
        padding: 15px 5px;
        margin-bottom: 30px;
        color: #fff;
        border-radius: 5px;
      }
      .protect a {
        display: block;
        width: 70%;
        margin: 50px auto 0;
        color: #fff;
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
      }
      .protect a:hover {
        text-decoration: none;
        background: linear-gradient( rgb(0, 130, 0), rgb(0, 175, 0));
      }
      .protect p {
        margin-top: 40px;
        color: red;
        text-decoration: underline;
        text-align: right;
        font-size: 13px;
      }


      #footer {
        border-top: 1px solid gainsboro;
        font-size: 12px;
        display: flex;
        padding: 20px 0;
      }
      #footer nav ul {
        display: flex;
        list-style: none;
        padding: 0;
      }

      #footer nav ul li {
        /* flex: 1; */
        padding: 0 5px;
        display: inline;
        font-size: 12px;
        border-right: 1px solid black;
      }
      #footer a {
        color: black;
        padding-left: 5px;
      }

      .last-footer {
        margin: 10px 0;
      }
        .last-footer small {
          padding-left: 10px;
          vertical-align: sub;
        }

      .footer-right {
        flex: 1;
        text-align: right;
        padding-right: 50px;
      }
      .footer-right img {
        margin-top: 30px;
      }

      .feed {
        position: relative;
      }
      .vertical {
        transform: rotate(0.25turn);
        position: fixed;
        bottom: 100px;
        right: -45px;
        background-color: rgb(204, 204, 204);
        padding: 5px;
        border-radius: 5px;
       cursor: pointer;
      }


      #fade {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: auto;
        background-color: rgb(0, 0, 0, 0.5);
      }
        #fade .content {
          width: 500px;
          margin:  60px auto;
          padding: 0 30px;
          background-color: #fff;
        }
        .content img {
          display: block;
          margin:  0 auto;
          padding: 15px 0;
        }
        .content .title {
          text-align: center;
          font-size: 25px;
          font-weight: bold;
        }
        .content .row div {
          border: 1px solid black;
          padding: 3px;
          margin: 0 8px;
          text-align: center;
          flex: 1;
        }
        .content .post-text span:first-child {
          font-size: 10px;
          float: left;
        }
        .content .post-text span:last-child {
          font-size: 10px;
          float: right;
        }

        .content .input {
          margin-top: 30px;
        }
        .content .input select {
          width: 100%;
          padding: 8px 5px;
          opacity: 0.6;
        }

        .content .radio {
        margin-top: 30px;
        }
        .content input[type="radio"] {
          vertical-align: middle;
        }
        .content label {
          font-size: 12px;

        }

        .content textarea {
          resize: none;
          width: 100%;
          height: 90px;
          font-size: 13px;
          padding: 2px;
        }
        .content .small {
          font-size: 11px;
        }

        .content .button {
          float: right;
          margin-top: 15px;
        }
        .content #close {
          display: inline;
          padding: 7px;
          font-size: 13px;
          border: 1px solid orange;
          cursor: pointer;
        }
        .content input[type="submit"] {
          background-color: rgb(255, 189, 66);
          border: none;
          font-size: 13px;
          padding: 6px 12px;
        }

        .content .fade-last {
          text-align: right;
          margin-top: 60px;
        }
        .content .fade-last small  {
          font-size: 11px;
          opacity: 0.8;
        }
        .content .fade-last small a {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 12px;
          color: black;
        }

        #back {
          position: absolute;
          top: 30px;
          right: 470px;
          font-size: 20px;
          color: aliceblue;
          cursor: pointer;
        }

        #footer2, .bottom-img {
          display: none;
        }


        .sp-menu {
          display: none;
        }







        @media screen and (max-width: 414px) {
          body {
            background-color: #fff;
          }
          .container {
            width: 90%;
            margin: 0 auto;
            padding: 0;
          }

          #header {
            display: flex;
            padding-top: 0px;
            font-size: 13px;
        }

          #header > nav,
          #header .button,
          .top-img,
          .excel, .excel2, .excel3{
            display: none;
          }


          .sp-menu {
            display: block;
          }
          .sp-nav {
            position: fixed;
            background-color: #fff;
            height: 100%;
            width: 80%;
            right: -350px;
            transition: all 0.2s;
            z-index: 100;
          }

          .sp-nav  nav ul {
            list-style: none;
            padding: 0;
            padding-top: 50px;
          }
          .sp-nav  nav ul li {
            padding: 10px 0;
            border-top: 1px solid black;
          }
          .sp-nav  nav ul li:last-child {
            border-bottom: 1px solid black;
          }

          .sp-nav a {
            color: orange;
            padding-left: 10px;
          }

          input[type="checkbox"] {
            position: absolute;
            left: -20vw;
          }

        input[type="checkbox"]:checked ~ .sp-nav  {
            right: 0;
          }

          input[type="checkbox"]:checked ~ .back {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.541);
          }

          .close {
            font-size: 50px;
          }

          .sp-cart {
            position: absolute;
            color: black;
            right: 70px;
            top: 40px;
          }
          .open {
            position: absolute;
            right: 20px;
            top: 34px;
          }
          .sp-cart , .open {
            font-size: 30px;
          }

          .menu {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            cursor: pointer;
          }

          .menu-line {
            top: 17px;
          }

          .menu-inner::after,
          .menu-inner::before {
            content: "";
          }

          .menu-line,
          .menu-inner::after,
          .menu-inner::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            transition: 0.15s ease-out;
            background-color: #000;
          }

          .menu-inner::after {
            top: 34px;
          }

          /* 真ん中の線のアニメーション */
          .menu:hover .menu-line,
          .menu:active .menu-line {
            width: 0;
            opacity: 0;
            transform: translateX(20px) rotate(90deg);
          }

          /* 上の線のアニメーション */
          .menu:hover .menu-inner::before,
          .menu:active .menu-inner::before {
            width: 44px;
            transform: translateY(17px) translateX(3px) rotate(-135deg);
          }

          /* 下の線のアニメーション */
          .menu:hover .menu-inner::after,
          .menu:active .menu-inner::after {
            width: 44px;
            transform: translateY(-17px) translateX(3px) rotate(135deg);
          }






          .excel4 {
            display: block;
            margin: 30px 0;
          }
          .sp-excel,
          .sp-excel2,
          .sp-excel3,
          .sp-excel4,
          .sp-excel5,
          .sp-excel6 {
             display: flex;
           }

           .sp-excel  div,
           .sp-excel2 div,
            .sp-excel3  div,
            .sp-excel4 div,
            .sp-excel5 div,
            .sp-excel6 div{
               flex: 1;
           }
           .excel4 p {
               margin: 0;
           }

           .excel4 .top {
             display: flex;
             position: sticky;
             top: 0;
           }
           .excel4 .top header {
             background-color: orange;
             text-align: center;
             color: #fff;
             flex: 1;

           }
           .excel4 .top  header p:first-child {
             font-size: 13px;
             padding: 10px 0;
           }
           .excel4 .top header p:last-child {
             font-size: 10px;
             margin-bottom: 0;
             line-height: 10px;
           }

           .sp-excel  main,
            .sp-excel2 div,
            .sp-excel3 div,
            .sp-excel4 div,
            .sp-excel5 div,
            .sp-excel6 div{
             text-align: center;
             padding-top: 20px;
             background-color: antiquewhite;
           }
           .sp-excel  main .first a:nth-child(2) {
             background-color: #fff;
             margin: 5px auto;
             width: 40%;
             border-radius: 10px;
             display: block;
             font-size: 13px;
             color: black;
           }

           .sp-excel  main .first p:nth-child(4) span {
             color: red;
             font-size: 20px;
           }

           .sp-excel main .first  a:nth-child(6) p {
             color: #fff;
             width: 95%;
             font-size: 15px;
             margin: 10px auto;
             padding: 10px 0;
             border-radius: 5px;
             text-align: center;
             background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
           }

           .sp-excel  main .second, .sp-excel main .third {
               margin-top: 30px;
           }

           .sp-excel  main .second p:nth-child(2) span {
             color: black;
             font-size: 20px;
           }

           .sp-excel  main .second a:nth-child(4) p,
           .sp-excel  main .third a:nth-child(4) p {
             color: #fff;
             width: 95%;
             font-size: 15px;
             margin: 10px auto 0;
             padding: 10px 0;
             border-radius: 5px;
             text-align: center;
             background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
           }

           .sp-excel  main .third p:nth-child(2) span  {
             color: red;
             font-size: 20px;
           }

           .sp-excel .ping {
               line-height: 152px;
               margin: 0;
           }

           .excel4 h3 {
             padding: 10px 0 10px 5px;
             background-color: rgba(0, 0, 0, 0.267);
             font-size: 16px;
             margin-bottom: 0;
           }

           .sp-excel2 div,
           .sp-excel5 div {
               line-height: 80px;
               padding: 0;
           }

           .sp-excel3 div,
           .sp-excel6 div{
               font-size: 25px;
               line-height: 100px;
             padding: 0%;
           }

           .excel4 .red-bar {
             border-left: 2px solid red;
             border-right: 2px solid red;
             background-color: rgb(255, 230, 184) !important;;
           }
           .excel4 .red {
             background-color: red !important;
           }

           #fade .content {
             width: 100%;
             margin: 0;
              padding: 0 30px;
              background-color: #fff;
           }

           .category, .protect {
             display: none;
           }

           .category2 h2 {
            font-size: 28px;
          }

          .category2 {
            display: block;
           margin-top: 50px;
         }
           .category2 .row div small {
             line-height: 20px;
           }
           .category2 img {
             max-width: 100%;
           }
           .category2 .border {
             border: 1px solid orange!important;
           }
           .category2 h2 {
             background-color: orange;
             padding: 10px 5px;
             color: #fff;
             border-radius: 5px;
           }
           .category2 .row {
             border-bottom: 1px solid gray;
             width: 80%;
             margin: 50px auto 0;
           }

           .category2 .row div p:first-child {
             font-size: 20px;
             text-align: center;
           }
           .category2 .row div span {
             font-size: 35px;
           }
           .category2 .row div p:last-child {
             font-size: 20px;
             margin-top: 30px;
           }
           .category2 .row div .two {
             font-size: 20px;
             padding-left: 20px;
           }
           .category2 .row div b {
             font-weight: normal;
             color: red;
           }
           .category2 a {
             display: block;
             width: 80%;
             margin: 50px auto 0;
             color: #fff;
             font-size: 30px;
             padding: 10px 20px;
             border-radius: 5px;
             text-align: center;
             background: linear-gradient( rgb(0, 175, 0), rgb(0, 130, 0));
           }
           .category2 a:hover {
             text-decoration: none;
             background: linear-gradient( rgb(0, 130, 0), rgb(0, 175, 0));
           }

           .category2 .row {
             display: block;
           }

           #footer {
             display: none;

           }

           #footer2 {
             display: block;
            border-top: 1px solid black;
            margin-bottom: 72.219px;
           }

           #footer2 ul {
             list-style: none;
             padding-left: 0;
           }

           #footer2 ul li {
            float: left;
            padding: 0 15px;
            border-right: 1px solid black ;
           }

           #footer2 ul li a {
             color: black;
             font-size: 11px;
           }

           .footer-in {
             margin-top: 70px;
             font-size: 12px;
             padding-left: 12px;
           }
           .footer-in a {
             color: black;
             padding-right: 5px;
           }
           .footer-in a:first-child {
            border-right: 1px solid black;
           }

           .bottom-img {
             display: block;
             width: 100%;
             position: fixed;
             bottom: 0;
             left: 0;
           }

           .bottom-img img {
             max-width: 100%;
           }

           .vertical {
            transform: rotate(0.25turn);
            position: fixed;
            bottom: 120px;
            right: -45px;
            background-color: rgb(204, 204, 204);
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }


        }
